@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-custom {
    border-top-right-radius: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
}
